body
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.caption h1{
    font-size: 4rem !important;
    text-align: center;
}
.caption span{
    font-size: 2rem;
}
.sec1{
    background-image: url(../images/intro-bg.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    height: 100vh;
}
.navbar-brand{
    color: white;
}
nav{
    background-color: black;
    /* background-color: rgba(0, 0, 0, 0.7); */
}
.sec1{
    color: white;
    font-weight: 600;
}
.progress{
    background-color: #cde1f8;
    border-radius: 0px;
    height: 10px;
}
ul li a{
    color: white;
    text-decoration: none;
}
.sec1 ul li a{
    border-bottom: 2px solid transparent;
}
.sec1 a:hover{
    color: white;
}
.navbar .navbar-brand{
    font-size: 28px;
}
.sec1 ul li a:hover{
    border-bottom: 2px solid white;
}

.sec1 .changing::before{
    content: "|";
    animation: changing infinite 16s;

}
@keyframes changing {
    0%{content: "|";}
    1%{content: "d|";}
    2%{content: "de|";}
    3%{content: "des|";}
    4%{content: "desi|";}
    5%{content: "desig|";}
    6%{content: "design|";}
    7%{content: "designe|";}
    8%{content: "designer|";}
    9%{content: "designe|";}
    10%{content: "design|";}
    11%{content: "desig|";}
    12%{content: "desi|";}
    13%{content: "des|";}
    14%{content: "de|";}
    15%{content: "d|";}
    16%{content: "|";}
    17%{content: "|";}
    18%{content: "p|";}
    19%{content: "ph|";}
    20%{content: "pho|";}
    21%{content: "phot|";}
    22%{content: "photo|";}
    23%{content: "photog|";}
    24%{content: "photogr|";}
    25%{content: "photogra|";}
    26%{content: "photograp|";}
    27%{content: "photograph|";}
    28%{content: "photographe|";}
    29%{content: "photographer|";}
    30%{content: "photographe|";}
    31%{content: "photograph|";}
    32%{content: "photograp|";}
    33%{content: "photogra|";}
    34%{content: "photogr|";}
    35%{content: "photog|";}
    36%{content: "photo|";}
    37%{content: "phot|";}
    38%{content: "pho|";}
    39%{content: "ph|";}
    40%{content: "p|";}
    41%{content: "|";}
    42%{content: "|";}
    43%{content: "|";}
    44%{content: "d|";}
    45%{content: "de|";}
    46%{content: "dev|";}
    47%{content: "deve|";}
    48%{content: "devel|";}
    49%{content: "develo|";}
    50%{content: "develop|";}
    51%{content: "develope|";}
    52%{content: "developer|";}
    53%{content: "develope|";}
    54%{content: "develop|";}
    55%{content: "develo|";}
    56%{content: "devel|";}
    57%{content: "deve|";}
    58%{content: "dev|";}
    59%{content: "de|";}
    60%{content: "d|";}
    61%{content: "|";}
    62%{content: "|";}
    63%{content: "f|";}
    64%{content: "fr|";}
    65%{content: "fre|";}
    66%{content: "free|";}
    67%{content: "freel|";}
    68%{content: "freela|";}
    69%{content: "freelan|";}
    70%{content: "freelanc|";}
    71%{content: "freelance|";}
    72%{content: "freelancer|";}
    73%{content: "freelance|";}
    74%{content: "freelanc|";}
    75%{content: "freelan|";}
    76%{content: "freela|";}
    77%{content: "freel|";}
    78%{content: "free|";}
    79%{content: "fre|";}
    80%{content: "fr|";}
    81%{content: "f|";}
    82%{content: "|";}
    83%{content: "";}
    83%{content: "|";}
}
.bold{
    font-weight: bold;
    color: #1e1e1e;
    font-size: 17px;
}
.blue{
    color: #0078ff;
}
.bg-blue{
    background-color: #0078ff;
}
.h-15{
    height: 15%;
}
.sec2 .rhs h3{
    font-size: 32px;
}
.sec2 .rhs p{
    font-size: 20px;
    color: #4e4e4e;
    font-weight: 300;
    line-height: 30px;
}

.sec2 i{
    color: ;
    font-size: 50px;
    border:  #0078ff 10px solid;
    border-radius: 50%;
    transition: all 0.5s;
}

.services i:hover{
    background-color:#0078ff ;
    border-color: #d0e6ff;
    color: #fff;
}
.status{
    background-image: url(../images/counters-bg.jpg);
    background-attachment: fixed;
    height: 40vh;
    position: relative;
}
.blue-overlay{
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: #0078ff;
    opacity: 80%;
}
.carousel-indicators li {
    margin-bottom: 10%;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}
.status i{
    border-radius: 50%;
    border: 10px solid ;
    padding: 1.25rem 1.5rem;
}


.sec3 .card img{ 
    transition: transform 0.5s ease-in-out;  
}
.sec3 .card img:hover {
    transform: scale(1.3);
    overflow: hidden;
}
.sec3 .rounded-circle{
    border: 2px #0078ff solid !important;
}
#carouselExampleIndicators {
    height: 60vh;
    
    border: none;
}
.sec5{
    background-image: url(../images/overlay-bg.jpg);
    background-attachment: fixed;
}
/* .sec5 .row{
    z-index: 10;
} */
#carouselExampleIndicators button{
    border: hidden;
}
#carouselExampleIndicators ol{
    margin-bottom: -30;
}
#carouselExampleIndicators p{
    font-size: 20px;
    font-weight: 300;
}
.w-12{
    width: 12%;
}
#message{
    margin: 20 10 20 0;
    padding: 10 25;
    border-radius: 40px;
    background-color: #0078ff;
    color: white;
    border: 0px;
    text-align: center;
    border: white 3px solid;
    transition: all 0.5s;
}  
#message:hover{
    border: #8ec1ff 3px solid;
    background-color:#6f9fd6 ;
}
.contact{
    margin-top: 1rem;
}
.sec5 p{
    font-size: 20px;
    color: #4e4e4e;
}
.sec5 #social-media i{
    font-size: 16px;
    padding: 10;
    border:  #0078ff 3px solid;
    border-radius: 50%;
    transition: all 0.5s;
    color: black;
}

.sec5 #social-media i:hover{
    color: white;
    background-color:#0078ff ;
    border-color: #d0e6ff;
}

.brdr::after{
    content: "";
    background-color: #0078ff;
    width: 2%;
    height: 5px;
    position: absolute;
    top: 150%;
    left: 49%;
}
.brdr2::after{
    content: "";
    background-color: #0078ff;
    width: 15%;
    height: 3px;
    position: absolute;
    top: 130%;
    left: 0%;
}
.back-top-up{
    bottom: 2%;
    right: 2%;
    font-size: 38px;
    z-index: 88;
}
.sec5 .container{
    z-index: 1;
}
.travel::after{
    font-size: 11px;
    color: white;
    content: "TRAVEL";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #0078ff;
    padding: 5 15px;
    border-radius: 5px;
    transform: translate(-50%,-50%);
}

.web-design::after{
    font-size: 11px;
    color: white;
    content: "WEB DESIGN";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #0078ff;
    padding: 5 15px;
    border-radius: 5px;
    transform: translate(-50%,-50%);

}
.card span{
    font-size: 13px;
}
.col-md-4 span a i{
    font-size: 18px;
}
footer{
    background-color: #0062D3;
}
@media screen and (max-width: 980) {
    .sec1 ul li a:hover{
        border-bottom: 2px solid white;
        width: 10%;
    }
    .nav-link{
        margin: 50 0;
        width: auto;
        text-align: center;
    }
}
@media screen and (min-width:975) and (max-width :1187) {
    .travel::after {
        font-size: 11px;
        color: white;
        content: "TRAVEL";
        position: absolute;
        top: 67%;
        left: 50%;
        background-color: #0078ff;
        padding: 5 15px;
        border-radius: 5px;
        transform: translate(-50%,-50%);
    }
}
@media screen and (max-width : 975) {
    .travel::after {
    font-size: 11px;
    color: white;
    content: "TRAVEL";
    position: absolute;
    top: 67%;
    left: 50%;
    background-color: #0078ff;
    padding: 5 15px;
    border-radius: 5px;
    transform: translate(-50%,-50%);
}
}